[submodule "vdcd/src/p44utils"]
	path = src/p44utils
	url = ../p44utils.git
[submodule "vdcd/src/p44vdc"]
	path = src/p44vdc
	url = ../p44vdc.git
[submodule "vdcd/src/p44lrgraphics"]
	path = src/p44lrgraphics
	url = ../p44lrgraphics.git
	branch = luz
[submodule "src/p44features"]
	path = src/p44features
	url = ../p44features.git
	branch = master
