docs/DoxygenDocs.docset/
*~

# DigiESP/Eclipse CDT specifics
boost_1_53_0/
Debug/
Release/

# XCode specifics
*.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad/UserInterfaceState.xcuserstate
*.xcodeproj/project.xcworkspace/xcshareddata/*.xcscmblueprint
*.xcodeproj/xcuserdata

# Autotools specifics
*.o
Makefile
Makefile.in
autom4te.cache/
aclocal.m4
config.h
config.h.in
config.log
config.status
configure
configure_aux/
.dirstamp
.deps/
stamp-h1

# built binaries
vdcd
olavdcd
jsonrpctool
demovdc
tests
external_devices_samples/plain C/externalButton.xcodeproj/project.xcworkspace/contents.xcworkspacedata
external_devices_samples/plain C/externalButton.xcodeproj/project.xcworkspace/xcshareddata/externalButton.xcscmblueprint
