docs/DoxygenDocs.docset/
*~

# DigiESP/Eclipse CDT specifics
boost_1_53_0/
Debug/
Release/

# XCode specifics
**/*.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad/UserInterfaceState.xcuserstate
**/*.xcodeproj/project.xcworkspace/xcshareddata/*.xcscmblueprint
**/*.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
**/*.xcodeproj/xcuserdata/

# Autotools specifics
*.o
Makefile
Makefile.in
autom4te.cache/
aclocal.m4
config.h
config.h.in
config.log
config.status
configure
configure_aux/
.dirstamp
.deps/
stamp-h1

# built binaries
vdcd
olavdcd
jsonrpctool
demovdc
tests

# USE_SOURCE_DIR debris
.built*
.configured*
.prepared
.quilt_checked
.source_dir
.pkgdir/
ABOUT-NLS
/ChangeLog
config.rpath

